.container.py-5
  .row.justify-content-center
    .col-md-6.col-lg-5
      .card.border-0.shadow.rounded-4
        .card-body.p-4.p-sm-5
          .text-center.mb-4
            %h3.fw-bold.text-primary Reset Your Password
            %p.text-muted.small Please enter your new password below.

          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = f.error_notification
            = f.input :reset_password_token, as: :hidden

            .form-inputs
              -# New password input fields
              = f.input :password,                                                                                  |
                label: "New Password",                                                                              |
                required: true,                                                                                     |
                autofocus: true,                                                                                    |
                hint: ("Please enter at least #{@minimum_password_length} characters" if @minimum_password_length), |
                input_html: { autocomplete: "new-password" },                                                       |
                wrapper_html: { class: "mb-3" }                                                                     |

              -# Password confirmation input fields
              = f.input :password_confirmation,               |
                label: "Confirm New Password",                |
                required: true,                               |
                input_html: { autocomplete: "new-password" }, |
                wrapper_html: { class: "mb-4" }               |

            .form-actions.d-grid.mb-3
              = f.button :submit, "Reset Password", class: "btn btn-primary btn-lg rounded-pill fw-bold"

          .text-center.small
            = render "devise/shared/links"