!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Study Log Test"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "Study Log Test", :name => "application-name"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body
    - if flash.any?
      .container.my-3
        - flash.each do |key, message|
          -# Notice from Devise is converted to green (success), alert to red (danger)
          - type = (key.to_s == 'notice') ? 'success' : 'danger'
          - icon = (key.to_s == 'notice') ? 'bi-check-circle-fill' : 'bi-exclamation-triangle-fill'

          .alert.alert-dismissible.fade.show.shadow-sm{class: "alert-#{type}", role: "alert"}
            -# Alert Content
            .d-flex.align-items-center
              %i.bi.me-2{class: icon, style: "font-size: 1.2rem;"}
              %div= message

            -# Close Button
            %button.btn-close{type: "button", "data-bs-dismiss" => "alert", "aria-label" => "Close"}
    = yield
